.choose {
  position: relative;

  padding: 180px 0 145px;
  &::before {
    @include pseudo;
    @include wh(100%, 23px);
    @include background(url("@img/icons/decor_line2.svg"));
    @include pos(absolute, $bottom: 0, $left: 0);
  }
  @include media(max, lg){
    padding: 100px 0 60px;
  }

  // .choose__title
  &__title {
    max-width: 465px;
    margin: 0 auto 100px;
    @include media(max, lg) {
      margin-bottom: 50px;
    }
  }

  // .choose__list
  &__list {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "item1 img item5"
      "item2 img item6"
      "item3 img item7";
    row-gap: 40px;
    column-gap: 16px;
    align-items: center;
    @include media(max, xl) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "item1 item2 item3"
        "img img img"
        "item5 item6 item7";
      justify-items: center;
    }

    @include media(max, md) {
      grid-template-areas:
        "item1 item2"
        "item3 item5"
        " item6 item7";
      grid-template-columns: repeat(2, 1fr);
    }
    @include media(max, sm) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item5"
        "item6"
        "item7";
    }
  }
  // .choose__item
  &__item {
    position: relative;
    @include flex($flex-direction: column);
    gap: 20px;
    padding-top: 50px;
    height: 100%;
    @include media(max, sm) {
      max-width: 100%;
    }
    &::before {
      @include pseudo;
      @include wh(40px);
      @include pos(absolute, $top: -10px, $left: 6px);
    }
    &1 {
      grid-area: item1;
      &::before {
        @include background(url("@img/icons/dec1.svg"));
      }
    }
    &2 {
      grid-area: item2;
      &::before {
        @include background(url("@img/icons/dec2.svg"));
      }
    }
    &3 {
      grid-area: item3;
      &::before {
        @include background(url("@img/icons/dec3.svg"));
      }
    }
    &4 {
      grid-area: img;
      padding-top: 0;
      height: unset;
      @include media(max, md) {
        display: none;
      }
    }
    &5 {
      grid-area: item5;
      &::before {
        @include background(url("@img/icons/dec4.svg"));
      }
    }
    &6 {
      grid-area: item6;

      &::before {
        @include background(url("@img/icons/dec5.svg"));
      }
    }
    &7 {
      grid-area: item7;

      &::before {
        @include background(url("@img/icons/dec6.svg"));
      }
    }
  }

  // .choose__text
  &__text {
    max-width: 290px;
    @include media(max, lg) {
      max-width: 100%;
    }
  }

  // .choose__img
  &__img {
    max-height: 625px;
    max-width: 600px;
    width: 100%;
    height: 100%;
  }
}
