.main {
  padding-bottom: 15px;
  @include media(min, lg) {
   
  }
  // .main__list
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    grid-row-gap: 35px;
    justify-content: center;
    align-items: baseline;

    max-width: 600px;
    margin: 0 auto;
    row-gap: 26px;

    @include media(min, lg) {
      grid-template-columns: repeat(6, 95px);
    }
  }
  // .main__item
  &__item {
    min-width: 95px;
  }
  // .main__link
  &__link {
    @include flex(space-between, center, wrap, column);
    gap: 14px;
  }
  // .main__img
  &__img {
  }
  // .main__title
  &__title {
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;

    color: $mainColor;
  }
}
