.offer {
  position: relative;

  padding: 180px 0 60px;
  @include media(max, lg) {
    padding: 90px 0 30px;
  }
  // .offer__title
  &__title {
    max-width: 610px;
    margin: 0 auto 100px;
    position: relative;
    @include media(max, lg) {
      margin-bottom: 50px;
    }
  }

  // .offer__wrap
  &__wrap {
    @include flex(space-between, center, wrap);

    gap: 15px;
    @include media(max, xl) {
      justify-content: center;
    }
  }

  // .offer__box-content
  &__box-content {
    @include flex($flex-direction: column);
    gap: 40px;
    max-width: 640px;
  }
  // .offer__subtitle
  &__subtitle {
    font-size: 36px;
    line-height: 42px;
  }
  // .offer__span-subtitle
  &__span-subtitle {
    color: $accentColor;
    font-weight: 700;
    font-family: "Mak";
  }

  // .offer__btn
  &__btn {
    @include wh(220px);

    border-radius: 50%;
    @include flex(center, center);
    background: linear-gradient(225deg, #de7d7d 0%, #d75858 100%);

    font-family: "TenorSans";

    font-weight: 400;
    font-size: 18px;
    line-height: 120%;

    text-align: center;
    text-transform: uppercase;

    color: $primaryColor;
    @include media(max, lg) {
      @include wh(190px);
      font-size: 16px;
    }
    @include media(max, md) {
      @include wh(150px);
      font-size: 14px;
    }
    @include media(max, sm) {
      @include wh(100px);
      padding: 10px;
      font-size: 12px;
    }
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
  }
}
