.recommendations {
  position: relative;
 
  padding: 125px 0 120px;
  @include media (max, lg) {
    padding: 60px 0;
  }
  // .recommendations__wrapper
  &__wrapper {
   
    gap: 90px;
    @include media (max, md) {
      gap: 60px;

    }
  }
  // .recommendations__title
  &__title {
    
    max-width: 390px;
    margin: 0 auto;
   
  }

  // .recommendations__list
  &__list {
    @include flex(center, $flex-wrap: wrap);
    @include media (max, 630px){
      gap: 40px;
    }
    
  }
  // .recommendations__item
  &__item {
    width: 305px;
    height: 289px;

    border: 1px solid #dfc181;

    padding: 20px;
    @include media (max, 630px){
      height: 100%;
      width: 100%;
    }
    &:nth-child(even) {
      margin-top: 40px;
      @include media (max, 630px){
        margin-top: unset;
      }
    }
  }

  // .recommendations__wrap
  &__wrap {
    @include flex(space-between, $flex-direction: column);
    height: 100%;
    gap: 20px;
  }
  // .recommendations__span
  &__span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #e9d09d;

    font-family: "Mak";
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
  }
  // .recommendations__text
  &__text {
   
    font-size: 18px;
    line-height: 27px;

  }
 
}
