
.footer {
  padding: 5px 0 30px;
  @include media (min, lg) {
    padding: 30px 0 40px;
  }
  // .footer__wrapper
  &__wrapper {
    @include flex(space-between, center, $flex-direction: column);
    gap: 18px;
    @include media(min, lg) {
      flex-direction: row-reverse;
      justify-content: center;
      gap: 125px;
    }
  }
  // .footer__contacts
  &__contacts {
  }
  // .footer__contacts-item
  &__contacts-item {
  }
  // .footer__contacts-link
  &__contacts-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: $mainColor;
   &--green{
    color: $primaryColor;
   }
  }
  // .footer__social
  &__social {
    @include flex(center, center);
    gap: 12px;
  }
}
